/* VARIABLES */

:root {
   --header-height: 3rem;

   /*======= Font and Typography ===== */
   --body: 4vw;
   --spacing: 24px;
   --navname: calc(var(--body)*1.2);
   --project: calc(var(--body)*2);
   --name: calc(var(--body)*1);
   --title: calc(var(--body)*7.6);

   /*======= spacing and margins ===== */
   --coverspacing: calc(var(--spacing)2.625);
   --projectandname-padding: calc(var(--spacing)*1);

  

   /*======= z index ===== */
  --z-tooltip: 10;
  --z-fixed: 100;

    /*======= nav ===== */

 }
 
 @media (min-width: 767px) {
   :root {
   --body: 2vw;
   --navname: calc(var(--body)*0.6);  
   --project: calc(var(--body)*2.5);
   --name: calc(var(--body)*0.8);
   --title: calc(var(--body)*12);
   --titleletter-spacing: -0.12em;

   /*======= spacing and margins ===== */
   --spacing: 40px;
   --projectandname-padding: calc(var(--spacing)*4.8);
   --coverspacing: calc(var(--spacing)2.625);
 
 }
}

 /*======= BASE ======= */
body{
   padding: 0;
   margin: 0;
   background-color: #1700A4;
}

html{
   scroll-behavior: smooth;
}




/*======= nav ======= */
.bookcover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap; 
  align-content: space-around;
  justify-content: space-between;
  position: relative;

}



/*======= body ======= */


.contents{
   position: absolute;
}
.projectandname{
   display: flex;
   flex-direction: row;
        
   justify-content: space-between;
   align-items: center;
   
   position: relative;

   width: auto;
   left: auto;
   top: 4vh;

   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
}

.project{
   font-family: 'Recia';
   font-style: italic;
   font-weight: 400;
   font-size: calc(var(--project));
   line-height: 45px;
   letter-spacing: -0.02em;
   font-feature-settings: 'ss03' on;
   color: #FFFFFF;
}

.name{
font-family: 'Recia';
font-style: italic;
font-weight: 300;
font-size: calc(var(--name));
font-feature-settings: 'ss03' on;

color: #FFFFFF;
}

.title::before,
.title::after {
   content: ''; /* Empty. */
	display: block;
	visibility: hidden;
}

.title::before {
   margin-top: var(--inset--top);
 }

.title::after {
   margin-bottom: var(--inset--bottom);
}

.title{
  justify-content: center;
  height: 80vh;
  align-items: center;
  position: relative;
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-size: var(--title);
  letter-spacing: -0.12em;
  color: #FFFFFF;
}

.title{
   --inset--top: 150;
   --inset--bottom: 2;
   --inset--left: -0.05em;
   --inset--right: 0.06em;
	margin-left: var(--inset--left);
	margin-right: var(--inset--right);
	width: fit-content; /* Cinch the width. */
}

@media (min-width: 767px) {
.vl {
   border-left: 2px solid #02010B;
   height: 100vh;
   position: relative;
   top: 0;
   z-index: -1;
}
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
}


.nav_menu{
   height: calc(var(--header-height));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #1700A4;
   width: 100%;
   height: 4rem;
   align-content: center;
   transition: .4s;
}
.nav_list, .nav_link{
  display: flex;
  column-gap: 6vw;
}
.nav_link{
   flex-direction: column;
   align-items: center;
   color: #FFFFFF;
   font-family: 'General Sans';
   font-style: normal;
   font-weight: 400;
}
.nav_list{
   align-content: center;
   justify-content: center;
   align-items: center;
}
@media screen and (max-width: 767){
   .nav_menu{
       position: fixed;
       bottom: 0;
       left: 0;
       background-color: aqua;
       width: 100%;
       height: 4rem;
       align-content: center;
       display: grid;
   }
}

.nav_name1{
   font-family: 'General Sans';
   font-style: normal;
   font-weight: 500;
   font-size: var(--navname);
   line-height: 24px;
   color: #FFFFFF;
   }
   .nav_name2{
   font-family: 'Recia';
   font-style: italic;
   font-weight: 300;
   font-size: var(--navname);
   color: #5C42FF;
   }
   .nav_name3{
      font-family: 'Recia';
      font-style: italic;
      font-weight: 300;
      font-size: var(--navname);
      color: #5C42FF;
   }

   .nav_item{
   display: flex;
   justify-content: center;
   font-family: 'General Sans';
   font-style: normal;
   font-weight: 600;
   font-size: var(--title);
   letter-spacing: -0.12em;
   box-sizing: border-box;
   font-feature-settings: 'ss03' on;
   color: #FFFFFF;
   text-align: center;
   margin-top: 4%;
   height: 157px;
   width: 330px;
   position: relative;
   width: auto; /* or make it 100% */
   left: auto;
   top: auto;
   flex: none;
   order: 1;
   align-self: center;
   flex-grow: 0;
   }