:root{
   --bodycopy: 16px;

}

body{
   box-sizing: border-box;
   margin: auto;
   padding: auto;
   width: 90%;
   font-family: 'Recia', serif;
}

/* GRID */

ul{
   --columns: 2;
   --grid-gap: 1em;
   display: grid;
   grid-template-columns: repeat(var(--columns), 1fr);
   grid-template-rows: auto;
   gap: var(--grid-gap);
   justify-content: center;
   align-items: start;
}

.image-block, .link-block, .video-embed-block{
   padding: 20px;
   background-color: #FFFBE5;
}

@media (min-width: 767px) {
   ul{
      grid-auto-flow: column;
      --rows: 1;
      --grid-gap: 1em;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(var(--rows), 1fr);;
      gap: var(--grid-gap);
      justify-content: start;
      align-items: start;
   }

   audio, img, video {
      max-width: 30vw;
  }


   .image-block, .link-block, .video-embed-block{
      padding: 20px;
      background-color: #FFFBE5;
   }

}



































 